{% extends "base.html" %}
{% block content %}
<h3>Профиль члена группы.</h3>
<!--<p class="my-3 my-md-4">Создайте и нажмите сохранить.</p>-->
<div class="container">
    <form action="" method="post">
        {{ form.hidden_tag() }}
<!--        <div class="row justify-content-md-start">-->
<!--            <div class="mt-4 p-2 ">-->
<!--                Выдайте цель:-->
<!--            </div>-->
<!--        </div>-->
        <div class="mb-4 row justify-content-md-center">
            <div class="mb-4 m-md-4 p-2 border border-warning col-12 col-md-5">
                {{ form.login }}
            </div>
            <div class="mb-4 m-md-4 p-2 border border-warning col-12 col-md-5">
                {{ form.email }}
            </div>
        </div>
        <div class="col-2"><a class="btn btn-primary" id="cancel" href="/members/{{ current_user.group }}">Отменить</a></div>
        {% if message: %}
        <div class="my-4 alert alert-danger" role="alert"> {{message}}</div>
        {% endif %}
    </form>
</div>
</br>
<div class="m4"><a href="/create_task/{{ form.email.data }}"> Поставить задачу </a></div>
{% endblock %}