{% extends "base.html" %}
{% block content %}
<h3>Выдача цели </h3>
<p class="my-3 my-md-4">Создайте и нажмите сохранить.</p>
<div class="container">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="row justify-content-md-start">
            <div class="mt-4 p-2 ">
                Выдайте цель:
            </div>
        </div>
        <div class="mb-4 row justify-content-md-center">
            <div class="mb-4 m-md-4 p-2 border border-warning col-12 col-md-5">
                {{ member.login }}
            </div>
            <div class="mb-4 m-md-4 p-2 border border-warning col-12 col-md-5">
                {{ member.email }}
            </div>
        </div>
        <div class="m4 row justify-content-around">
<!--        <div class="col-12 col-md-4">-->
<!--            {{ form.target.label }}<br>-->
<!--            {{ form.target(class="form-control border border-warning") }}<br>-->
<!--            {% for error in form.target.errors %}-->
<!--            <p class="alert alert-danger" role="alert">{{ error }}</p>-->
<!--            {% endfor %}-->
<!--        </div>-->
        <div>{{ form.submit(type="submit", class="my-2 p-2 btn btn-primary") }}</div>
        {% if message: %}
        <div class="my-4 alert alert-danger" role="alert"> {{message}}</div>
        {% endif %}
    </form>
</div>
{% endblock %}